Choose your faves MARV<br>


<form method="post" action="check">
<%bull.each do |x| %>

<input type = "checkbox" name = "pairsss[]" value = "<%=x%>"> <%=x%><br>
<%end%>
<br>
<input type= "submit" value="next">
</form>

