<h3> howdy, how many people you gonna have today?</h3>



<!-- <form method = "post" action = "names" id = "text_box">
    <input type ="number" id ="myInput" oninput = "myFunction()" >
    <p id = "welp"></p> 
    <br>
   
</form></center> -->
<button onclick="myFunction()" id="myInput">add names</button>
<button onclick="deletebox()">remove</button>


<form method = "post" action = "names" id = "text_box">

<p id = "welp"></p><br>
<input type = "submit">

</form>
 


<script>
function myFunction() {
    document.getElementById("myInput");
    document.getElementById("welp")
    // for (var i = 1; i <= x; i++) {
        var input = document.createElement("input");
        input.type = "text";
        input.name = "input[]";
        input.id = "didit";
        input.required = true;
        document.getElementById("welp").appendChild(input).value;
    // }
}

function deletebox(){

    var badbox = document.getElementById("welp");
    badbox.removeChild(badbox.lastChild)

}
</script>

